<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of the Document</title>
    
</head>
<body>
    <form method="POST">
        <label for="number1">Number 1</label>
        <input id="number1" name="Number1">
        <br>
        <label for="number2">Number 2</label>
        <input for="number2">Number 2>
        <br>
        <input id="number 2" name="Number2">
        <input type="submit" name="subtraction">
        
    



</body>
</html>
