<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View html page</title>
</head>
<body>
    <form method="POST">
        <label for="firstName">Name:</label>
        <input type="text" name="firstName">  <!-- Display firstName from context -->
        <br>
        <label for="prn">PRN:</label>
        <input type="number" name="prn">  <!-- Display prn from context -->
        <br>
        <label for="emailID">Email_id:</label>
        <input type="email" name="emailID">  <!-- Display emailID from context -->
        <br>
        <label for="pass">Password:</label>
        <input type="password" name="pass">  <!-- Password field, not displaying for security -->
        <br>
        <input type="submit" value="Submit">
          <!-- Added submit button -->
    </form>
</body>
</html>